*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@property --T_M_G-brand-color {
  syntax: "<color>";
  initial-value: rgb(226, 110, 2);
  inherits: false;
}

@property --turn {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --T_M_G-brand-color: rgb(226, 110, 2);
  --T_M_G-lighter-brand-color: hsl(
    from var(--T_M_G-brand-color) h s calc(l + 40)
  );
  --T_M_G-brand-accent-color: rgb(244, 143, 177);
  --scrollbar-track-color: rgb(20, 20, 20);
  --scrollbar-thumb-color: #f0ad5f;
  --scrollbar-thumb-hover-color: #eb9634;
  --scrollbar-thumb-active-color: #ed8f23;
  --max-turn: 0.235turn;
  --loader-size: 75px;
  --loader-width: 4px;
  --degree: 180deg;
  /* lib variables */
  --T_M_G-video-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --t007-toast-type-color: var(--T_M_G-brand-color);
  --t007-toast-progress-background: linear-gradient(
    to left,
    var(--T_M_G-brand-color),
    var(--T_M_G-brand-accent-color),
    var(--T_M_G-lighter-brand-color)
  );
}

@keyframes rotateLight {
  from {
    --turn: 0turn;
  }
  to {
    --turn: 1turn;
  }
}

@keyframes switch {
  to {
    --T_M_G-brand-color: var(--T_M_G-brand-accent-color);
  }
}

@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@media (max-width: 600px) {
  :root {
    --max-turn: 0.135turn;
  }
}

html {
  background-color: #0b1012;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-family: "Segoe UI", system-ui, sans-serif;
}

body::before {
  position: fixed;
  inset: 0;
  content: "";
  width: 100%;
  height: 100lvh;
  z-index: -1;
  background: linear-gradient(#0b1012e8, #0b1012e8),
    center/cover url("/TMG_VIDEO_PLAYER/assets/images/lone-tree.jpg"), #0b1012;
  filter: brightness(0.95);
}

body.light::before {
  background: conic-gradient(
      from var(--turn) at 50% -10%,
      #0b1012e8 10deg,
      #0b1012e8 calc((360deg - var(--degree)) / 2),
      #5c80f755,
      #0b1012e8 calc(360deg - (360deg - var(--degree)) / 2),
      #0b1012e8 350deg
    ),
    center/cover url("./assets/images/lone-tree.jpg"), #0b1012;
  animation: rotateLight 30s linear infinite;
}

body.offline .offline-notice {
  position: fixed;
  bottom: 0;
  display: block;
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
  max-height: fit-content;
  padding: 2px;
  background: linear-gradient(
    to right,
    rgb(from var(--T_M_G-brand-color) r g b/.6),
    rgb(from var(--T_M_G-brand-accent-color) r g b/.6),
    rgb(from var(--T_M_G-lighter-brand-color) r g b/.6),
    rgb(from var(--T_M_G-brand-color) r g b/.6)
  );
  backdrop-filter: blur(5px);
  z-index: 10000;
}

.offline-notice {
  display: none;
}

body:has(.dragging) {
  cursor: grabbing!important;
}

.attribution {
  text-align: center;
}

.attribution summary {
  font-size: 11.5px;
  color: rgb(244, 143, 177);
}

.attribution a {
  color: var(--T_M_G-lighter-brand-color);
}

.attribution {
  font-size: 12.5px;
  color: lightgrey;
  padding-inline: 10vw;
}

#video {
  min-height: 210px;
}

#video-player-container {
  height: fit-content;
  max-width: fit-content;
  flex: 1 1 50%;
}

body:has(#video.stall) #clear-button {
  display: none;
}

#video.stall {
  display: none;
}

#video-player-container.loading:has(#video.stall) {
  position: relative;
  max-width: 700px;
  width: 90dvw;
  aspect-ratio: 16 / 9;
}

#video-player-container.loading::before {
  display: block;
}

#video-player-container::before {
  display: none;
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  height: var(--loader-size);
  width: var(--loader-size);
  border-radius: 50%;
  border-style: solid;
  border-width: var(--loader-width);
  border-top-color: var(--T_M_G-brand-color);
  border-bottom-color: var(--T_M_G-brand-color);
  border-left-color: var(--T_M_G-brand-color);
  border-right-color: grey;
  rotate: 0;
  animation: spin 800ms linear infinite, switch 800ms infinite ease forwards;
}

@media (max-width: 780px) {
  :root {
    --loader-size: 60px;
    --loader-width: 3px;
  }
}

@media (max-width: 480px),
  (max-width: 940px) and (max-height: 480px) and (orientation: landscape) {
  :root {
    --loader-size: 40px;
    --loader-width: 2px;
  }
}

#content-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15px;
}

#content-header {
  flex: 0 0 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#content-header > * {
  max-width: 600px;
  text-align: center;
}

#content-header > h1 {
  color: whitesmoke;
}

#content-header > p {
  color: grey;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 2px #0b1012e8;
}

#content-helper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 500px;
  flex: 1 1 50%;
  gap: 30px;
}

#file-picker {
  background: linear-gradient(
    to left,
    rgb(from var(--T_M_G-brand-color) r g b/.6),
    rgb(from var(--T_M_G-brand-accent-color) r g b/.6),
    rgb(from var(--T_M_G-lighter-brand-color) r g b/.6)
  );
  backdrop-filter: blur(5px);
  border-radius: 16px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  border: 1.35px solid darkgrey;
  transition: all 250ms ease;
}

#file-picker:hover,
#file-picker:has(.drop-box.active) {
  box-shadow: 0 4px 10px rgba(244, 143, 177, 0.4); /* 🧪 glow */
}

#file-picker > form > div {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
  font-size: 14.5px;
  font-weight: 450;
}

#file-picker > form > div > span {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.drop-box {
  background: linear-gradient(
    to right,
    rgb(from var(--T_M_G-brand-color) r g b/.6),
    rgb(from var(--T_M_G-brand-accent-color) r g b/.6),
    rgb(from var(--T_M_G-lighter-brand-color) r g b/.6)
  );
  backdrop-filter: blur(5px);
  border-radius: 11px;
  flex: 1 1;
  min-width: max-content;
  height: 110px;
  position: relative;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: 200ms ease;
  border: 1.35px solid darkgrey;
  font-size: 16.5px;
  font-weight: bolder;
  padding: 10px;
}

.drop-box::after {
  content: attr(aria-label);
  color: rgba(0, 0, 0, 0.45);
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 77.5%;
  white-space: wrap;
  text-align: center;
  padding-inline: inherit;
  padding-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drop-box:hover,
.drop-box.active,
.drop-box:has(:focus-visible) {
  background: linear-gradient(
    to right,
    var(--T_M_G-brand-color),
    var(--T_M_G-brand-accent-color),
    var(--T_M_G-lighter-brand-color),
    var(--T_M_G-brand-color)
  );
  background-size: 200%;
  animation: background-pan 600ms ease;
}

.drop-box.active,
.drop-box:has(:focus-visible) {
  animation-iteration-count: infinite;
}

.drop-box svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.2125em;
  margin-left: .3em;
  fill: currentColor;
}

#file-picker input[type="file"] {
  clip: (0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

#file-picker > form > div > span > label:not(.drop-box) {
  color: rgba(245, 245, 245, 0.85);
}

#file-picker > form > div > span > output {
  color: rgba(245, 245, 245, 0.85);
  text-align: end;
}

#file-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--T_M_G-brand-accent-color);
  padding: 10px;
  gap: 20px;
}

#install,
#clear-button {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 5px;
  font-size: 13px;
  background: var(--T_M_G-lighter-brand-color);
  font-weight: 550;
  color: grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); /* 🧪 subtle lift */
  border: 1px solid gray;
  transition: all 250ms ease;
}

#install {
  display: none;
}

#install:hover,
#clear-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: gray;
  box-shadow: 0 4px 10px rgba(244, 143, 177, 0.4); /* 🧪 glow */
}

#no-files-text {
  margin-block: 30px;
  color: grey;
  text-shadow: 0.5px 0.5px 2px #0b1012e8;
}

#file-list-wrapper h2 {
  text-decoration: underline;
}

#file-list ul {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
}

#file-list:has(.content-line.dragging.playing) .drag-placeholder {
  background-color: rgb(from var(--T_M_G-brand-color) r g b/.05);
}

.content-line.dragging {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  backdrop-filter: blur(1px);
}

.drag-placeholder {
  background-color: rgba(255, 255, 255, 0.005);
}

.content-line {
  height: fit-content;
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding-inline: 10px;
  font-size: 13px;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.005);
}

.content-line:not(:last-child),
.drag-placeholder:not(:last-child) {
  border-bottom: 1px solid grey;
}

.file-info-wrapper {
  flex: 1 1 75%;
  color: lightgrey;
  word-break: break-all;
}

.content-line p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.content-line p span:first-child {
  color: gray;
}

.content-line.playing {
  background-color: rgb(from var(--T_M_G-brand-color) r g b/.05);
  border-left: 4px solid var(--T_M_G-brand-color);
}

.content-line.playing p {
  color: var(--T_M_G-brand-color);
}

.content-line.playing p span:last-child {
  font-weight: 500;
}

.content-line.playing .thumbnail-container button {
  background-color: transparent;
}

.thumbnail-container {
  position: relative;
  flex: 0 0 20%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  background: black;
}

.thumbnail-container:hover {
  transform: scale(1.015); /* 🧪 micro interaction */
}

.thumbnail-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.5px;
  width: calc(var(--video-progress-position, 0) * 100%);
  background: var(--T_M_G-brand-color);
}

.thumbnail-container button {
  background-color: rgb(226, 110, 2, 0.4);
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  padding-inline: 5px;
  cursor: pointer;
  transition: 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  transition: transform 200ms ease;
}

.thumbnail-container button:hover {
  transform: scale(1.1);
}

.thumbnail-container svg {
  width: 26px;
  height: 26px;
}

.content-line.playing .thumbnail-container button .play-icon {
  display: none;
}

.playing-icon {
  transform: scaleY(-1);
}

.playing-icon rect {
  animation: pulse 1s infinite ease-in-out;
}

.playing-icon rect:nth-child(1) {
  animation-delay: 0s;
}
.playing-icon rect:nth-child(2) {
  animation-delay: 0.2s;
}
.playing-icon rect:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%, 100% {
    height: 4px;
  } 50% {
    height: 20px;
  }
}

/* 👇 To pause animation */
.paused rect {
  animation-play-state: paused;
}

.content-line:not(.playing) .thumbnail-container button .playing-icon {
  display: none;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.drag-handle {
  touch-action: none;
  cursor: grab;
  user-select: none;
  margin-left: 10px;
  margin-top: 5px;
}

.drag-handle svg {
  fill: white;
  width: 19px;
  height: 19px;
}

.drag-handle:active {
  cursor: grabbing;
}

.delete-btn {
  background: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.delete-btn svg {
  width: 22.5px;
  height: 22.5px;
}

.delete-btn svg path {
  fill: rgb(247, 56, 57, 0.8);
}

@media (max-width: 480px),
  (max-width: 940px) and (max-height: 480px) and (orientation: landscape) {
  #video-player-container {
    max-width: unset;
  }
}
