:where(:root) {
  --t007-dialog-font-family: inherit;
  --t007-dialog-unit: 1rem;
  --t007-dialog-background: rgb(20, 20, 20);
  --t007-dialog-gap: 0.8rem;
  --t007-dialog-width: 26.5rem;
  --t007-dialog-height: fit-content;
  --t007-dialog-max-width: 90%;
  --t007-dialog-max-height: 30rem;
  --t007-dialog-max-content-height: 12rem;
  --t007-dialog-padding: 1rem;
  --t007-dialog-content-padding-block: 1.5rem;
  --t007-dialog-border-radius: 1rem;
  --t007-dialog-border: 0.05rem solid rgba(255, 255, 255, 0.25);
  --t007-dialog-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), -2px -2px 6px rgba(0, 0, 0, 0.5);
  --t007-dialog-backdrop-background: rgba(0, 0, 0, 0.2);
  --t007-dialog-backdrop-blur: blur(6px);
  --t007-dialog-message-color: whitesmoke;
  --t007-dialog-message-font-size: 0.9rem;
  --t007-dialog-button-font-size: 0.8rem;
  --t007-dialog-button-text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  --t007-dialog-button-min-width: 4.7rem;
  --t007-dialog-button-width: unset;
  --t007-dialog-button-max-width: unset;
  --t007-dialog-button-min-height: 2.3rem;
  --t007-dialog-button-height: unset;
  --t007-dialog-button-max-height: unset;
  --t007-dialog-button-padding-inline: 1rem;
  --t007-dialog-button-padding-block: 0.5rem;
  --t007-dialog-button-border-radius: 1.25rem;
  --t007-dialog-button-gap: 0.65rem;
  --t007-button-outline-width: 0.15rem;
  --t007-button-outline-style: solid;
}

:where(:root, .t007-dialog) {
  --t007-confirm-button-color: grey;
  --t007-confirm-button-background: var(--t007-cancel-button-color);
  --t007-cancel-button-color: greenyellow;
  --t007-cancel-button-background: var(--t007-confirm-button-color);
  --t007-confirm-button-outline-color: var(--t007-confirm-button-color);
  --t007-cancel-button-outline-color: var(--t007-cancel-button-color);
}

:where(.t007-dialog) .t007-input-field {
  --t007-input-color: var(--t007-dialog-message-color);
}

.t007-dialog,
.t007-dialog *,
.t007-dialog *::after,
.t007-dialog *::before {
  box-sizing: border-box;
  font-family: var(--t007-dialog-font-family);
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

.t007-dialog *:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.t007-dialog *:focus {
  outline-style: dashed;
  outline-offset: 0.1rem;
  outline-width: 0;
}

.t007-dialog *:focus-visible {
  outline-width: 0.15rem;
  transition: none !important;
}

.t007-dialog :where(button) {
  background: none;
  border: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 200ms ease;
}

:where(button):hover {
  cursor: pointer;
  filter: brightness(1.15);
}

:is(html, body):has(.t007-dialog[open]) {
  overflow: hidden;
}

.t007-dialog {
  margin: auto;
  background: var(--t007-dialog-background);
  width: var(--t007-dialog-width);
  height: var(--t007-dialog-height);
  max-width: var(--t007-dialog-max-width);
  max-height: var(--t007-dialog-max-height);
  padding: 0;
  box-shadow: var(--t007-dialog-box-shadow);
  border: var(--t007-dialog-border);
  border-radius: var(--t007-dialog-border-radius);
}

.t007-dialog,
.t007-dialog form {
  flex-direction: column;
  gap: var(--t007-dialog-gap);
}

.t007-dialog[open],
.t007-dialog form {
  display: flex;
}

.t007-dialog::backdrop {
  background-color: var(--t007-dialog-backdrop-background);
  -webkit-backdrop-filter: var(--t007-dialog-backdrop-blur);
  backdrop-filter: var(--t007-dialog-backdrop-blur);
}

.t007-dialog[open]::backdrop {
  display: block;
}

.t007-dialog > * {
  padding-inline: var(--t007-dialog-padding);
}

.t007-dialog-top-section {
  margin-top: var(--t007-dialog-padding);
}

.t007-dialog-bottom-section {
  margin-bottom: var(--t007-dialog-padding);
}

.t007-dialog-top-section {
  padding-block: var(--t007-dialog-content-padding-block);
  max-height: var(--t007-dialog-max-content-height);
  overflow-x: hidden;
  overflow-y: auto;
}

.t007-dialog:has(.field) .t007-dialog-top-section {
  padding-block-end: 0;
}

.t007-dialog-question {
  color: var(--t007-dialog-message-color);
  font-size: var(--t007-dialog-message-font-size);
}

.t007-dialog-bottom-section {
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--t007-dialog-button-gap);
}

.t007-dialog button {
  font-size: var(--t007-dialog-button-font-size);
  min-width: var(--t007-dialog-button-min-width);
  width: var(--t007-dialog-button-width);
  max-width: var(--t007-dialog-button-max-width);
  min-height: var(--t007-dialog-button-min-height);
  height: var(--t007-dialog-button-height);
  max-height: var(--t007-dialog-button-max-height);
  padding-inline: var(--t007-dialog-button-padding-inline);
  padding-block: var(--t007-dialog-button-padding-block);
  border-radius: var(--t007-dialog-button-border-radius);
  text-shadow: var(--t007-dialog-button-text-shadow);
  transition: 100ms ease;
}

.t007-dialog-confirm-button {
  color: var(--t007-confirm-button-color);
  background: var(--t007-confirm-button-background);
  opacity: 1;
}

.t007-dialog-cancel-button {
  color: var(--t007-cancel-button-color);
  background: var(--t007-cancel-button-background);
  opacity: 0.9;
}

.t007-dialog button:hover {
  cursor: pointer;
}

.t007-dialog-confirm-button:hover {
  opacity: 0.9;
}

.t007-dialog-cancel-button:hover {
  opacity: 1;
}

.t007-dialog button:focus {
  outline-style: var(--t007-button-outline-style);
  outline-width: var(--t007-button-outline-width);
}

.t007-dialog-confirm-button:focus {
  outline-color: var(--t007-confirm-button-outline-color);
}

.t007-dialog-cancel-button:focus {
  outline-color: var(--t007-cancel-button-outline-color);
}
